:root {
    --orange: #fb8633;
    --purple: #3D265C;
    --light-blue: #88bdde;
    --light-divine: #91f7e3;
    --dark-divine: #0daf9f;
}


* {
    color: #f5893e;
    background-color: var(--purple);
    margin: 0px;
    padding: 0px;
    font-family: "DynaPuff", system-ui;
    max-width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 0;
}


/*########### Main cover ##########*/
#main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: url('https://img.itch.zone/aW1nLzE4NzY3MjUxLnBuZw==/original/6oxHO1.png'), auto;
    transition: .6s;
}

.hide-main-page {
    display: none;
}


#cover {
    background-image: url("Snowshuge.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: repeat;
    animation: background_movement 80s infinite;
    animation-timing-function: linear;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

@keyframes background_movement {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -0px 3026px;
    }
}


#logo {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
}

#head-bar {
    position: absolute;
    top: 0;
    background-color: transparent;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    background-color: transparent; 
}

/*#################TEAM SECTION################*/

#meet-box {
    background-color: var(--light-blue);
    padding-top: 5px;
}

#meet {
    width: 100%;
    height: 80px;
    align-content:center;
    background-color: transparent;
    padding: 20px 0;
}


#meet h2 {
    margin: auto;
    color: var(--purple);
    width: fit-content;
    background-color: transparent;
    font-family: "DynaPuff", system-ui;
    text-shadow: 0 4px 10px white;
    font-size: 3.5em;
    
}

#team-section {
    align-content: center;
}

#team-list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-blue);
    padding-bottom: 100px;
    align-content: center;
}

.list-elem {
    background-color: transparent;
    flex-direction: column;
    display: inline;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.member-position-box {
    background-color: transparent;
    text-shadow: 1px 2px 6px black;
    height: 60px;
    font-size: 2rem;
    align-content: center;
    text-align: center;
}

.member-position-box h3 {
    color: var(--purple);
    text-shadow: 1px 2px 6px white;
}

.member-box {
    background-color: transparent;
}

.member-picture {
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    margin: 10px 0;
}

.member-picture img {
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.8s;
}


.member-name-r, .member-name-l {
    background-color: var(--light-blue);
    height: fit-content;
    margin: 40px 0 50px 0;
    font-size: 2rem;
    align-content: center;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    transition: .4s;
}

.member-name-l:hover {
    transform: rotate(-3deg);
}

.member-name-r:hover {
    transform: rotate(3deg);
}


.member-name-l a, .member-name-r a {
    text-decoration: none;
    color: var(--orange);
    background-color: var(--light-blue);
    font-weight: bold;
    text-shadow: 1px 2px 6px black;
    transition: .4s;
}

.member-name-l a:hover, .member-name-r a:hover {
    color: white;
    cursor: url('https://img.itch.zone/aW1nLzE4NzY3MjUxLnBuZw==/original/6oxHO1.png'), auto;
    text-shadow: 3px 4px 12px black;
    transform: rotate(10deg);

}

.btn {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    background-color: var(--orange);
    color: white;
    border: none;
    cursor: url('https://img.itch.zone/aW1nLzE4NzY3MjUxLnBuZw==/original/6oxHO1.png'), auto;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 2px 6px black;
    text-shadow: 0px 2px 6px black;
    transition: .4s;
}


.btn:hover {
    background-color: white;
    color: var(--orange);
    font-size: 1.6rem;
    box-shadow: 0px 8px 10px black;
}


.section {
    background-color: black;
    width: 100%;
    z-index: 10;
    height: fit-content;
    align-items: center;
    align-content: center;
    transition: top 1s ease-in-out;
    top: 200%;
    position: fixed;
}

.show-section2 {
    top: 0;
    position: absolute;
    transition: 1s;
}


/*############ DIVINE CHOICE #############*/

#divine-choice-page {
    cursor: url('https://img.itch.zone/aW1nLzE4NzQ5NDM0LnBuZw==/original/PbMQYt.png'), auto;
}

#divine-choice-logo {
    margin: auto;
    background-color: black;
    max-width: 80%;
    width: fit-content;
}

#divine-choice-logo img {
    animation: pulse 3s infinite;
    background-color: transparent;
}

#animated-sprite {
    width: fit-content;
    animation: walk 8s linear infinite;

}

#animated-sprite img {
    background-color: black;
}

#description {
    margin:  30px auto;
    font-size: 2rem;
    height: fit-content;
    line-height: normal;
    width: 80%;
    letter-spacing: 2px;
    word-spacing: 8px;
}

#description p {
    background-color: black;
    color: white;
}

#art-section {
    background-image: url(https://img.itch.zone/aW1nLzE4NzUyMjI5LnBuZw==/original/2RMw%2Fq.png);
    padding-top: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;
}

#art-box1 {
    display: flex;
    width: 80%;
    background-color: transparent;
    padding: 0;
    margin: 30px auto;
}

#art-box1 img {
    border-radius: 25px;
    border: 8px solid var(--light-divine);
    border-bottom: 8px solid var(--dark-divine);
    box-shadow: 0px 3px 6px black;
    margin: auto;
    padding: 0;
}

#art-box2 {
    display: flex;
    background-color: transparent;
}

#art-box2 img {
    margin: auto;
    margin-bottom: 100px;
    border-radius: 25px;
    border: 8px solid var(--light-divine);
    border-bottom: 8px solid var(--dark-divine);
}

#goToHome {
    background-color: transparent;
    cursor: url('https://img.itch.zone/aW1nLzE4NzQ5NDM0LnBuZw==/original/PbMQYt.png'), auto;
}


.show-btn2 {
    visibility: visible;
    position: fixed;
    top: 20px; /* 20px dall'alto */
    left: 20px; /* 20px dal lato destro */
    font-size: 3rem;
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    z-index: 1000;
    cursor: pointer;
    text-align: center;
    transition: .6s;
}

.show-btn2:hover {
    color: var(--dark-divine);
    transform: rotate(180deg);
}



#control-bar {
    visibility: hidden;
    width: 80%;
    display: flex;
    height: 60px;
    margin: auto;
}

#control-bar input {
    margin: auto;
    width: 80%;
}

.slider {
    appearance: none; 
    width: 300px; 
    height: 25px; 
    background: #88bdde;
    outline: none;
    border-radius: 12px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(Player_idle-export.gif);
    cursor: pointer;
  }


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes walk {
    0% {
        transform: translateX(-100%);
    }


    100% {
        transform: translateX(100vw);
    }
}
/*################## FOOTER ##################*/

#footer {
    display: flex;
    height: 65px;
    bottom: 0;
    align-content: center;
    text-align: center;
}

#footer p {
    color: #ffffff;
    align-self: center;
    margin: auto;
}

#footer-box {
    display: flex;
    margin: auto;
    width: 20%;
}

#itch-logo {
    width: 15%;
    margin: auto;
    transition: .4s;
}

#itch-logo:hover {
    transform: scale(1.1);
}

/*################## MOBILE ##################*/
/*#############################################*/

@media screen and (max-width: 600px) {

    #meet {
        margin-top: 40px;
    }

    #logo {
        max-width: 70%;
    }

    #divine-choice-logo {
        margin-top: 40px;
    }

    #description p {
        font-size: .8rem;
        margin-top: 0;
    }

    #animated-sprite img {
        height: 40px;
    }

    #itch-logo {
        width: 35%
    }
}